<h1>List of photos</h1>

<form action="/insert_photo/" method="get">

<label for="browser_image">Image</label>
<input type="text" id="browser_image" name="query_image" placeholder="Enter a URL for the image...">

<label for="browser_caption">Caption</label>
<textarea name="query_caption" id="browser_caption" type="text" placeholder="Enter and ID of a User"></textarea>

<label for="browser_owner">Owner ID</label>
<input type="text" id="browser_owner" name="query_owner_id" placeholder="Enter an ID of a User">

<button>Add photo</button>

</form>
<table border = 1>
  <tr>
  <th>Image</th>
  <th>Caption</th>
  <th>Owner</th>
  <th>Posted</th>
  <th></th>
  </tr>
  <% @list_of_photos.each do | a_photo | %>
  <tr>
  <td><image src="<%= a_photo.image %>"></td>
  <td><%= a_photo.caption %></td>
  <td><%= a_photo.poster.username %></td>
  <td><%= a_photo.created_at %></td>
  <td><a href="/photos/<%= a_photo.id %>">Show Details</a></td>
  </tr>
  <% end %>
</table>
